@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-200 dark:bg-gray-900;
}

.active {
  @apply text-purple-500 bg-white;
}

.Modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: max-content;
  width: max-content;
  border-radius: 8px;
  background-color: white;
}

.EditModal {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: max-content;
  width: 50%;
  border-radius: 8px;
  background-color: white;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
